/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("normalize.css.scss");

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 160px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #363b3f;
	padding: 40px 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: 40px;
		position: absolute;
		right: 3em;
		top: 3em;
	}

}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#post_table{
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	
	.tableheader{
		height: 30px;
		padding-left: 10px;
		border-bottom: 1px solid #e1e1e1;
		th{
			width: 25%;
			background-color: white;
			text-align: left;
			padding: 0 10px;
		}
		
	}
	.tablerow{
		height: 50px;
		margin: 10px;
		font-size: 14px;
		td{
			padding: 0 10px;
		}
		td a{
			text-decoration: underline;
			color:#00a0d2;			

		}
		a:hover{
			color:#0096dd;
			text-decoration: underline;
			background: none;
		}
	}
	.tablerow:nth-child(odd){
		background-color: #f9f9f9;
	}
	
	
}

#main_content {
	margin-left: 160px;
	width: auto;
	overflow: hidden;
	
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	#content{
		padding: 20px;
		wdith: 100%;
		
	}

	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}