<!DOCTYPE html>
<html>
<head>
  <title>Pixlbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="sidebar">

	</div>

	<div id="main_content">
		<div id="header">
			hello

		</div>

		<div id="content">
		  <%= yield %>
		</div>
		
	</div>



</body>
</html>
